<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hero-text">
                <h2>Invest in <span>Your Future</span> <br>Mind-Stock</h2>
                <h4>Don’t look further, here is the key</h4>
                <div class="formContainer">
                    <form>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="John">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Doe">
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email address</label>
                            <input type="email" class="form-control" id="eMail" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your personal
                                information with anyone else.</small>
                        </div>
                        <a href="/survey" class="save-client">
                            <h3>Submit</h3>
                        </a>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="static/images/laptop.png" class="laptop-image" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 about-text">
                <h2>Learn About Retirement and More</h2>
                <h5>Understanding the Stock Market</h5>
                <p>Many people refer to the stock market being up or down, They are generally referring to one of the
                    major market indexes. A market index tracks the performance of a group of stocks, which either
                    represents the market as a whole or a specific sector of the market, like technology or retail
                    companies. You’re likely to hear most about the S&P 500, the Nasdaq composite and the Dow Jones
                    Industrial Average; they are often used as proxies for the performance of the overall market</p>
                {{!-- <a href="../views/survey.html" class="site-btn sb-gradients sbg-line mt-5">Get Started</a> --}}
            </div>
        </div>
        <div class="about-img">
            <img src="https://static-news.moneycontrol.com/static-mcnews/2018/06/Mutual-funds-652x435.jpg" alt="">
        </div>
    </div>
</section>

<!-- Process section -->
<section class="process-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h2>Government bonds</h2>
            <p>These are considered a very safe investment, as the principal and interest are guaranteed by the U.S.
                Government. </p>
        </div>
        <div class="row">
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <img src="/static/images/process-icons/1.png" alt="#">
                    </figure>
                    <h4>Corporate bonds</h4>
                    <p>The principal and interest are backed by the financial strength of the company that issued it, so
                        if the company files bankruptcy, your money could be at risk. </p>
                </div>
            </div>
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <img src="/static/images/process-icons/2.png" alt="#">
                    </figure>
                    <h4>Municipal bonds</h4>
                    <p>The principal and interest are backed by the state or city that issued the bond. Although rare,
                        there have been cases where municipalities defaulted on their bonds. </p>
                </div>
            </div>
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <img src="/static/images/process-icons/3.png" alt="#">
                    </figure>
                    <h4>Municipal bonds</h4>
                    <p>The principal and interest are backed by the state or city that issued the bond. Although rare,
                        there have been cases where municipalities defaulted on their bonds. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process section end -->
<section>
