<section class="page-info-section">
	<div class="container">
		<h2>News</h2>
		<div class="site-beradcamb">
			<a href="">Home</a>
			<span><i class="fa fa-angle-right"></i> News</span>
		</div>
	</div>
</section>

<section class="about-section spad">
	<div class="container">
		<div class="about-img">
			<img
				src="https://www.thebalance.com/thmb/YJnvEdbUQt9PUhfKhvlV9rV-Lws=/950x0/filters:format(webp)/finance-news-with-pen--glasses---coffee-218288-5b854a83c9e77c0050765733.jpg"
				alt="">
		</div>
		<div class="row">
			<div class="col-lg-6 offset-lg-6 about-text">
				<h2>Mutual funds can help lower investing risks</h2>
				<h5>Give your money a chance to grow</h5>
				<p>Investing in mutual funds offers benefits you won't get from trading individual stocks and bonds on your own.
				</p>
				<h5>Less risk through more diversification</h5>
				<p>One mutual fund can invest in hundreds—sometimes thousands—of individual securities at once. So if any one
					security does poorly, the others are there to help offset that risk.</p>
				<h5>Lower Cost</h5>
				<p>With a no-load mutual fund, you pay one (hopefully low) expense ratio—instead of racking up the commissions
					you'd pay when buying and selling individual securities yourself.</p>

			</div>
		</div>
	</div>
</section>