<link rel="stylesheet" href="../css/styles.css"> 
 
 <div class="container">

        <div class="card aboutMe mb-4">
            <div class="card-header bg-warning">
                <strong><i class="fas fa-user"></i> &nbsp; About Yourself</strong>
            </div>
            <div class="card-body">
                <label for="name">Your Name*</label>
                <div class="input-group">
                    <input class="form-control fullName" name="name" id="name" value="" placeholder="" />
                </div>
                <br>
                <!-- <label for="name">Your Photo*</label> -->

                <!-- <input type="file" class="filepond" name="filepond" /> -->
                <!-- <input class="form-control" name="name" id="name" value="" placeholder="" /> -->
                <p class="text-center mt-5 mb-4"><a class="continueSurvey button disabled" href="#">Continue</a></p>
                <p class="text-right mb-0"><small>*Required fields</small></p>
            </div>
        </div>

        <div id="survey"></div>

        <div id="status" class="text-center">
            <div class="status-text">

            </div>
            <div class="status-bar">
                <div class="bar"></div>
            </div>
            <p class="text-center mt-5 mb-4"><a class="completeSurvey button disabled" href="#">Find a Match</a></p>
        </div>
    </div>

    <div id="results-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="matching-results">
                    <h3>Congratulations. You are matched with:</h3>
                    <div id="match-img"></div>
                    <h1 id="match-name"></h1>
                    <p class="search mt-4"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- include jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>

    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js">
    </script>


    <!-- include FilePond library -->
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

    <!-- include FilePond plugins -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>

    <!-- include FilePond jQuery adapter -->
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>

    <script src="../js/scripts.js"></script>