<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- CSS --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
    <link rel="stylesheet" href="../public/assets/css/styles.css">
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../public/assets/css/animate.css" />
    <link rel="stylesheet" href="../public/assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="../public/assets/css/style.css" />


    <title>Mind Stock</title>

</head>

<body>
    
    {{{ body }}}
    {{!-- Scripts --}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../../js/scripts.js"></script>
    <script src="../../js/index.js"></script>


</body>

</html>